* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: linear-gradient(0deg, rgba(167,248,137,1) 2%, rgba(153,165,234,1) 25%, rgba(255,255,255,1) 85%);
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100%;
  text-align: center;
  user-select: none;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 80px;
  float: right;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.icon {
  max-width: 100%;
  transition: transform 0.6s, opacity 1s;
}

.loading .icon {
  opacity: 0;
  transform: translateY(30px);
}

.description {
  text-transform: capitalize;
  font-size: 0.8rem;
}

.temperature {
  font-size: 5rem;
}

.temp-max {
  color: orange;
}

.temp-min {
  color: aqua;
}

.temp-max, .temp-min {
  background-color: rgba(100, 100, 100, 0.5);
  padding: 0.2rem 0.6rem;
  border-radius: 8px;
}

.mtop {
  margin-top: 1rem;
}

.hint,
.location {
  font-weight: bold;
  font-size: 1rem;
}

.tag {
  background-color: rgb(100, 100, 100);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  transition: opacity 0.5s, transform 0.5s;
}

.loading .tag {
  opacity: 0;
  transform: scale(0);
}

.forecast {
  margin-top: 1rem;
}

.icon-forecast,
.icon-forecast2,
.icon-forecast3 {
  width: 60%;
}

.description-forecast,
.description-forecast2,
.description-forecast3 {
  font-size: 0.8rem;
}

.temp-forecast,
.temp-forecast2,
.temp-forecast3 {
  font-weight: bold;
}

@media screen and (max-width: 1100px) {
  .icon-forecast,
  .icon-forecast2,
  .icon-forecast3 {
    width: 90%;
  }
}